.hero-section {
    &__container {
        @include grid(4, 1.25rem);
        padding: 6.5625rem 1rem 1rem 8rem;
        @include mobile {
            padding: 10.6667rem 2rem 2rem;
        }
    }
    &__info-block {
        grid-column: span 2;
        @include df_fdc_jcc;
        align-items: flex-start;
        gap: 4rem;
        @include mobile {
            grid-column: span 4;
            gap: 2.6667rem;
        }
        span {
            font-size: 3rem;
            font-weight: 600;
        }
    }
    &__button-block {
        @include df_fdc;
        gap: 1rem;
        @include mobile {
            width: 100%;
            gap: 2.6667rem;
        }
        &__socials {
            @include df_ac;
            gap: .875rem;
        }
    }
    &__video-block {
        grid-column: span 2;
        background-color: #4F46E5;
        border-radius: 1rem;
        max-height: 58.25rem;
        aspect-ratio: 1;
        @include mobile {
            display: none;
        }
    }
}

.advantages-section {
    &__container {
        padding: 4rem 19.625rem 8rem;
        @include df_fdc_ac;
        gap: 6rem;
        @include mobile {
            padding: 2rem;
        }
    }
    &__title {
        font-size: 1.875rem;
        text-align: center;
        max-width: 50%;
        @include mobile {
            max-width: none;
        }
    }
    &__info-block {
        display: flex;
        align-items: flex-start;
        gap: 3rem;
        @include mobile {
            flex-direction: column;
            gap: 2rem;
        }
    }
    &__card {
        @include df_fdc_ac;
        gap: 2rem;
        width: 100%;
        &__icon {
            background-color: #fff;
            border-radius: 50%;
            @include df_ac_jcc;
            padding: 4.5rem;
            height: 15rem;
            aspect-ratio: 1;
            svg {
                height: 6rem;
                width: 6rem;
            }
        }
        &__title {
            color: #A1A1AA;
            font-size: 1.5rem;
            text-align: center;
            span {
                color: #000;
            }
        }
    }
}

.portfolio-section {
    &__container {
        padding: 4rem 0;
        @include df_fdc_ac;
        gap: 6rem;
        .button {
            @include mobile {
                max-width: 24.5833rem;
                width: 100%;
            }
        }
    }
    &__title {
        font-size: 4rem;
        font-weight: bold;
        @include mobile {
            font-size: 2.6667rem;
        }
    }
    &__info-block {
        max-width: 100%;
        .swiper-slide {
            border-radius: 1.875rem;
            overflow: hidden;
            img {
                max-height: 25.25rem;
                @include image_cover;
            }
        }
    }
}

.stuff-section {
    &__container {
        padding: 6rem 0;
        @include df_fdc_ac;
        gap: 6rem;
        @include mobile {
            padding: 2rem;
        }
    }
    &__title {
        font-size: 4rem;
        font-weight: bold;
    }
    &__info-block {
        display: flex;
        align-items: flex-start;
        gap: 2.625rem;
        @include mobile {
            flex-direction: column;
        }
    }
    &__item {
        @include df_fdc_ac;
        gap: 1.5rem;
        max-width: 12rem;
        width: 100%;
        @include mobile {
            max-width: none;
        }
        &__icon {
            max-height: 12rem;
            aspect-ratio: 1;
            @include mobile {
                max-height: 20.4167rem;
            }
            svg {
                width: 12rem;
                height: 12rem;
                @include mobile {
                    width: 20.4167rem;
                    height: 20.4167rem;
                }
            }
        }
        &__title {
            font-size: 1rem;
            color: #71717A;
            text-align: center;
        }
    }
}

.cases-section {
    &__container {
        padding: 6rem 9.375rem;
        @include df_fdc_ac;
        gap: 6rem;
        @include mobile {
            padding: 2rem;
        }
    }
    &__title {
        font-size: 4rem;
        font-weight: bold;
        @include mobile {
            font-size: 2.6667rem;
            text-align: center;
        }
    }
    &__info-block {
        @include df_fdc;
        gap: 2.5rem;
        &__row {
            @include df_ac;
            gap: 2.5rem;
            align-items: stretch;
            @include mobile {
                @include df_fdc;
            }
            &:last-of-type {
                padding: 0 5.75rem;
                @include mobile {
                    padding: 0;
                }
            }
        }
        &__card {
            @include df_fdc;
            gap: 1rem;
            font-size: 1.5625rem;
            padding: 2.5rem;
            border-radius: 1.25rem;
            background-color: #fff;
            span {
                font-size: 2.5rem;
                color: #2196F3;
            }
        }
    }
}

.project-section {
    &__container {
        @include df_fdc_ac;
        gap: 6rem;
        padding: 6rem;
        @include mobile {
            padding: 2rem;
            gap: 2.6667rem;
        }
    }
    &__title {
        font-size: 4rem;
        font-weight: bold;
        @include mobile {
            font-size: 2.6667rem;
        }
    }
    &__info-cards {
        @include df_ac;
        gap: 3.25rem;
        @include mobile {
            @include df_fdc_ac;
        }
    }
    &__card {
        @include df_fdc;
        border-radius: 1.125rem;
        background-color: #fff;
        overflow: hidden;
        &__image {
            max-height: 17.3rem;
            aspect-ratio: 24 / 17.3;
            img {
                @include image_cover;
            }
        }
        &__title-block {
            padding: 1.375rem;
            @include df_fdc;
            gap: .5rem;
            font-size: 0.875rem;
            .title {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                font-size: 0.875rem;
                font-weight: bold;
                span {
                    font-size: 1.375rem;
                    color: #6366F1;
                }
            }
        }
    }
    &__info-block {
        @include grid(4, 3.125rem);
        img {
            grid-column: span 2;
            @include image_cover;
            border-radius: 3.125rem;
            @include mobile {
                display: none;
            }
        }
        &__info-cards {
            grid-column: span 2;
            @include grid(2, 1.25rem);
            @include mobile {
                @include df_fdc_ac;
                grid-column: span 4;
            }
        }
        &__info-card {
            @include df_fdc;
            gap: 1.25rem;
            font-size: 1.375rem;
            padding: 1.875rem;
            border-radius: 3.125rem;
            background-color: #fff;
            span {
                font-size: 2rem;
                font-weight: 600;
            }
            ul {
                @include df_fdc;
                gap: 1rem;
                list-style: disc;
                li {
                    margin-left: 1.25rem;
                    &::marker {
                        color: #09090B;
                    }
                }
            }
            &__desc {
                width: 100%;
                text-align: end; 
            }
            &:first-of-type,
            &:last-of-type {
                grid-column: span 2;
                padding: 2.5rem;
            }
        }
    }
}

.team-section {
    &__container {
        @include df_fdc_ac;
        gap: 6rem;
        padding: 1rem 6rem 6rem;
        @include mobile {
            gap: 2.6667rem;
            padding: 2rem;
        }
    }
    &__title {
        font-size: 4rem;
        font-weight: bold;
        @include mobile {
            font-size: 2.6667rem;
        }
    }
    &__info-block {
        @include df_ac;
        gap: 3.125rem;
        @include mobile {
            flex-direction: column;
            gap: 1.6667rem;
        }
        align-items: stretch;
        &__item {
            @include df_fdc;
            gap: 2.75rem;
            font-size: 1.5rem;
            padding: 1.875rem;
            border-radius: 1.25rem;
            background-color: #fff;
            flex: 1;
            span {
                font-size: 2.25rem;
                color: #6366F1;
            }
        }
    }
    &__image {
        border-radius: 2rem;
        overflow: hidden;
        max-height: 43.4375rem;
        width: 100%;
        @include mobile {
            display: none;
        }
        img {
            @include wh-100;
            object-fit: cover;
        }
    }
}

.steps-section {
    &__container {
        @include df_fdc_ac;
        gap: 6rem;
        padding: 1rem 6rem;
        @include mobile {
            padding: 2rem;
            gap: 2rem;
        }
    }
    &__title {
        font-size: 4rem;
        font-weight: 600;
        @include mobile {
            font-size: 2.6667rem;
        }
    }
    &__info-block {
        @include grid(3, 1.875rem);
        @include mobile {
            @include df_fdc;
            gap: 1.5rem;
        }
    }
}

.steps-card {
    @include df_fdc;
    gap: 0.875rem;
    font-size: 1.5rem;
    background-color: #fff;
    padding: 2.375rem;
    border-radius: 1.25rem;
    &__number {
        font-size: 2.375rem;
        color: #4F46E5;
        font-weight: 600;
    }
    span {
        font-size: 2.375rem;
        font-weight: 600;
    }
}

.help-section {
    &__container {
        padding: 1rem 0 6rem 0;
        @include df_fdc_ac;
        gap: 6rem;
        @include mobile {
            padding: 2rem 0;
        }
    }
    &__title {
        font-size: 4rem;
        font-weight: 600;
        @include mobile {
            font-size: 2.6667rem;
            text-align: center;
        }
    }
    &__info-block {
        max-width: 100%;
        .help_slider {
            .swiper-slide {
                height: auto;
                .steps-card {
                    height: 100%;
                }
            }
        }
    }
}
.world-section {
    &__container {
        @include df_fdc_ac;
        gap: 6rem;
        padding: 6rem 0;
        @include mobile {
            padding: 2rem;
        }
    }
    &__title {
        font-size: 4rem;
        font-weight: 600;
        @include mobile {
            font-size: 2.67rem;
            text-align: center;
        }
    }
    img {
        max-height: 43.3125rem;
        max-width: 85.4375rem;
        @include image_cover;
    }
}

.reviews-section {
    &__container {
        padding: 10.625rem;
        @include df_fdc_ac;
        gap: 6rem;
        @include mobile {
            padding: 2rem;
        }
    }
    &__title {
        font-size: 4rem;
        font-weight: 600;
        @include mobile {
            font-size: 2.67rem;
            text-align: center;
        }
    }
    &__reviews {
        max-width: 100%;
        .reviews_slider {
            .reviews-pagination {
                @include df_ac_jcc;
                margin-top: 2.5rem;
                .swiper-pagination-bullet {
                    height: 0.625rem;
                    width: 4.5rem;
                    border-radius: 11.4375rem;
                    &.swiper-pagination-bullet-active {
                        background-color: #6366F1;
                    }
                }
            }
        }
        .review-card {
            @include df_fdc_ac;
            gap: 1.25rem;
            font-size: 1.375rem;
            padding: 3.125rem 1.25rem 3.125rem 1.25rem;
            border-radius: 3.125rem;
            background-color: #fff;
            text-align: center;

            position: relative;
            &__avatar {
                max-height: 9.375rem;
                aspect-ratio: 1 / 1;
                img {
                    @include image_cover;
                }
            }
            span {
                font-size: 2.25rem;
                font-weight: 600;
            }
            &__rating {
                @include df_ac;
                gap: .375rem;
            }
        }
    }
}

.feedback-section {
    &__container {
        padding: 6.25rem;
        border-radius: 5rem;
        background-color: #fff;
        @include df_fdc;
        gap: 6.25rem;
        @include mobile {
            padding: 2rem;
            gap: 2.67rem; 
            border-radius: 1.6667rem;
        }
    }
    &__title {
        @include df_jb_ac;
        font-size: 4.375rem;
        font-weight: 600;
        width: 100%;
        @include mobile {
            display: none;
        }
        &__socials {
            @include df_fdc;
            gap: 1.5rem;
        }
    }
    &__form {
        @include df_fdc;
        gap: 3rem;
        &__label-block {
            @include grid(3, 2rem);
            .field {
                display: flex;
                padding: 0.625rem 0.625rem 2rem;
                border-bottom: 1px solid #D4D4D8;
                @include mobile {
                    grid-column: span 3;
                }
                input, textarea {
                    font-size: 1.5rem;
                    width: 100%;
                }
                &:has(textarea) {
                    height: 9.125rem;
                    grid-column: span 3;
                }
            }
        }
        .button {
            width: fit-content;
            @include mobile {
                width: 100%;
            }
        }
    }
}

.office-section {
    &__container {
        padding: 6rem;
        display: flex;
        align-items: flex-start;
        gap: 12rem;
        @include mobile {
            padding: 2rem;
        } 
    }
    &__map {
        width: 50rem;
        height: 37.5rem;
        flex-grow: 1;
        border-radius: 3.125rem;
        overflow: hidden;
        @include mobile {
            display: none;
        }
    }
    span {
        font-size: 1.25rem;
        font-weight: 600;
    }
    &__info-block {
        @include df_fdc;
        gap: 2rem;
        max-width: 43.75rem;
    }
    &__title-block {
        @include df_fdc;
        gap: 1.5rem;
        font-size: 1.25rem;
        span {
            font-size: 4rem;
            font-weight: 600;
            @include mobile {
                font-size: 2.67rem;
            }
        }
    }
    .button {
        background-color: #27272A;
        outline: 0;
        border-radius: 1.5625rem;
        color: #fff;
    }
}

footer {
    background-color: #4F46E5;
    border-radius: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    .footer-section {
        &__container {
            padding: 8rem;
            display: flex;
            gap: 8rem;
            @include mobile {
                padding: 2rem;
            }
        }
        &__info-block {
            span {
                color: #fff;
                font-size: 4rem;
                font-weight: 600;
            }
            &__contacts {
                @include df_fdc;
                gap: 1.25rem;
                font-size: 1.25rem;
                color: #E0E7FF;
                max-width: 27.1875rem;
                width: 100%;
                hr {
                    border: 0;
                    border-bottom: 1px solid #A5B4FC;
                }
            }
            &__socials {
                @include df_ac;
                gap: 1.25rem;
            }
        }
        &__profile {
            @include df_ac;
            gap: 1rem;
            &__avatar {
                max-height: 4.875rem;
                aspect-ratio: 1;
                border-radius: 50%;
                overflow: hidden;
                img {
                    @include image_cover;
                }
            }
            &__title-block {
                @include df_fdc;
                font-size: 1.5rem;
                font-weight: 600;
                span {
                    font-size: 1.25rem;
                    font-weight: 400;
                }
            }
        }
        &__form {
            @include df_fdc_ac;
            gap: 2rem;
            font-size: 1rem;
            color: #E0E7FF;
            @include mobile {
                display: none;
            }
            &__label-block {
                @include grid(2, 1rem);
                .field {
                    padding: 1.5rem 2rem;
                    background-color: #fff;
                    border-radius: 10rem;
                    color: #A1A1AA;
                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        grid-column: span 2;
                    }
                    input {
                        font-size: 1.5rem;
                    }
                }
            }
            button {
                background-color: #27272A;
                color: #fff;
                width: 100%;
            }
            span {
                font-size: 1.25rem;
            }
        }
    }
}

