.icon-button {
    @include df_ac_jcc;
    max-height: 3rem;
    aspect-ratio: 1;
    border: 1px solid #6366F1;
    border-radius: 50%;
    padding: 0.625rem;
    svg {
        max-width: 1.5rem;
        @include wh-100;
    }
}